openapi: 3.0.1
info:
  title: Deepchecks LLM Evaluation Application Versions API
  description: REST API for the Deepchecks LLM Evaluation cloud platform. Log raw LLM interactions to an application version for evaluation, manage applications and their versions, retrieve enriched interactions with their computed properties and annotations, and configure LLM property definitions. Authentication uses a Deepchecks API token passed as a Bearer token in the Authorization header.
  termsOfService: https://www.deepchecks.com/terms-of-use/
  contact:
    name: Deepchecks Support
    url: https://www.deepchecks.com
  version: v1
servers:
- url: https://app.llm.deepchecks.com
  description: Deepchecks LLM Evaluation cloud
security:
- BearerAuth: []
tags:
- name: Application Versions
  description: Versions of an evaluation application.
paths:
  /api/v1/application-versions:
    get:
      operationId: listApplicationVersions
      tags:
      - Application Versions
      summary: List application versions.
      parameters:
      - name: app_name
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApplicationVersion'
    post:
      operationId: createApplicationVersion
      tags:
      - Application Versions
      summary: Create an application version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationVersionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationVersion'
components:
  schemas:
    CreateApplicationVersionRequest:
      type: object
      required:
      - application_id
      - name
      properties:
        application_id:
          type: integer
        name:
          type: string
        description:
          type: string
    ApplicationVersion:
      type: object
      properties:
        id:
          type: integer
        application_id:
          type: integer
        name:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Deepchecks API token, generated in the LLM Evaluation UI.
