openapi: 3.0.1
info:
  title: Deepchecks LLM Evaluation Application Versions Spans API
  description: REST API for the Deepchecks LLM Evaluation cloud platform. Log raw LLM interactions to an application version for evaluation, manage applications and their versions, retrieve enriched interactions with their computed properties and annotations, and configure LLM property definitions. Authentication uses a Deepchecks API token passed as a Bearer token in the Authorization header.
  termsOfService: https://www.deepchecks.com/terms-of-use/
  contact:
    name: Deepchecks Support
    url: https://www.deepchecks.com
  version: v1
servers:
- url: https://app.llm.deepchecks.com
  description: Deepchecks LLM Evaluation cloud
security:
- BearerAuth: []
tags:
- name: Spans
  description: Raw tracing spans.
paths:
  /api/v1/spans:
    get:
      operationId: getRawSpansByFilter
      tags:
      - Spans
      summary: Get raw spans by filter.
      description: Retrieves raw tracing spans captured for interactions.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Span'
components:
  schemas:
    Span:
      type: object
      properties:
        id:
          type: string
        trace_id:
          type: string
        name:
          type: string
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        attributes:
          type: object
          additionalProperties: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Deepchecks API token, generated in the LLM Evaluation UI.
