openapi: 3.0.1
info:
  title: Deepchecks LLM Evaluation Application Versions Applications API
  description: REST API for the Deepchecks LLM Evaluation cloud platform. Log raw LLM interactions to an application version for evaluation, manage applications and their versions, retrieve enriched interactions with their computed properties and annotations, and configure LLM property definitions. Authentication uses a Deepchecks API token passed as a Bearer token in the Authorization header.
  termsOfService: https://www.deepchecks.com/terms-of-use/
  contact:
    name: Deepchecks Support
    url: https://www.deepchecks.com
  version: v1
servers:
- url: https://app.llm.deepchecks.com
  description: Deepchecks LLM Evaluation cloud
security:
- BearerAuth: []
tags:
- name: Applications
  description: Evaluation applications.
paths:
  /api/v1/applications:
    get:
      operationId: listApplications
      tags:
      - Applications
      summary: List applications.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
    post:
      operationId: createApplication
      tags:
      - Applications
      summary: Create an application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
components:
  schemas:
    CreateApplicationRequest:
      type: object
      required:
      - name
      - kind
      properties:
        name:
          type: string
        kind:
          type: string
        description:
          type: string
    Application:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        kind:
          type: string
          description: Application type (e.g. QA, SUMMARIZATION, GENERATION, OTHER).
        created_at:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Deepchecks API token, generated in the LLM Evaluation UI.
